{% extends 'recommend/base.html'%}
{% block body %}

<h2 style="color: Black">My List</h2>
<hr>
<br>
<!-- Movie list -->
<div class="row">
    {% if movies %}
    {% for movie in movies %}
    <div class="col-sm-2 col-md-2 ">
        <div class="thumbnail">
            <center><h4>{{movie.title}}</h4></center>
            <a href="{% url 'detail' movie.id %}">
                <img src="{{ movie.movie_logo.url}}" class="img-responsive">
            </a>
            <center>
                <h5>{{movie.genre}}</h5>
            </center>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger">
        <strong>Sorry!</strong> No movies in your list.
    </div>
    {% endif %}
</div>

{% endblock %}