{% comment %} First Column {% endcomment %}
<div class="row text-left">
    <div class="col-md-5">
        <h1 class="text-light">About Us</h1>
        <p class="text-muted">Better Choice is your one stop solution to the perfect meal time. Order something tasty yet healthy, rate the dishes and get dish recommendations. And what goes better with a meal than a fun movie? Search for movies and rate them or even get recommendations based on your preferences!</p>
        <div class="pt-4 text-muted"> Copyright @2021 All rights are reserved</div>
    </div>
    
{% comment %} Second Column {% endcomment %}
    <div class="col-md-5">
        <h4 class="text-light"> Stay Updated </h4>
        {% comment %} <p class="text-muted">Stay Updated</p> {% endcomment %}
        <form class="form-inline">
            <div class="col pl-0">
                <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                    <div class="input-group-prepend">  
                        <div class="input-group-text">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
{% comment %} Third Column {% endcomment %}
    <div class="col-md-2 col-sm-12">
        <h4 class="text-light">Follow Us</h4>
        <p class="text-muted">Let us be social!</p>
        <div class="column m-2">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
</div>