<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-light" href="{% url 'home' %}"><i class="fas fa-utensils fa-2x mx-3 "></i> BetterChoice </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-right text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="nav navbar-nav navbar-right ml-6">
                </ul>
                <ul class="nav navbar-nav ">
                    <li class="m-5"><a href="{% url 'home' %}" style="text-decoration:none;">&nbsp; Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                 {% if not request.user.is_authenticated %}

                    <li class="m-5">
                        <a href="{% url 'signup' %}" style="text-decoration:none;">
                            <span aria-hidden="true"></span>SignUp
                        </a>
                    </li>
                    <li class="m-5">
                        <a href="{% url 'login' %}" style="text-decoration:none;">
                            <span aria-hidden="true"></span>Login
                        </a>
                    </li>
                {% else %}
                    <li class="m-5">
                        <a href="{% url 'logout' %}" style="text-decoration:none;">
                            <span aria-hidden="true"></span>&nbsp;Logout
                        </a>
                    </li>
                {% endif %}
                </ul>
    </div>
</nav>