<div class="container text-center">
    
</div>
<div class="team row">
    <div class="col-md-4 col-sm-12 text-center">
    {% comment %} first card {% endcomment %}
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
                <img src="" alt="" class="img-fluid border-radius p-4">
            </div>
            
        </div>
    </div>

{% comment %} Carousel {% endcomment %}
    <div class="col-md-4 col-sm-12 text-center">
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">

                        {% comment %} Second card {% endcomment %}
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="" alt="" class="img-fluid rounded-circle w-50 p-4">
                            </div>
                            <div class="card-body">
                               
                            </div>
                        </div>
                    <div class="carousel-item text-center">
                        <div class="card mr-2 d-inline-block shadow-lg">
                            <div class="card-img-top">
                                <img src="" alt="" class="img-fluid rounded-circle w-50 p-4">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>